<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
    <link  rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div class="container">
      <form action="/" method="post">
        <label for="item"></label>
        <input type="text" name="item" value="" placeholder="Add To Do..">
        <input type="submit">
      </form>

      <ul>
        
      </ul>
  </body>
</html>
